{% extends 'base.html.twig' %}

    {% block title %}ToDoList - Se connecter{% endblock %}
    {% block header_title %}{% endblock %}
    {% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}
    {% block connection %}{% endblock %}

{% block body %}

    <h1>Se connecter</h1>

    <form method="post">

        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant qu'{{ app.user.username }}
            </div>
        {% endif %}

        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password" />

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

        <button class="btn btn-success" type="submit">Se connecter</button>
    </form>
{% endblock %}
